
.spinnerContainer {
	text-align: center;
	margin-top: 15%;
}

.navTaskSpans {
	color: white;
}

div.custom-container {
	background-color: white;
	overflow-x: scroll;
	border-right: solid;
	border-color: #353942;
	padding-left: 30px;
}
.red-node {
	fill: red;
	cursor: pointer;
	/* stroke: red; */
}

.red-node text{
	font-size: 15px;
	text-shadow: 0 1px 4px black;
	dominant-baseline: hanging;
	text-anchor: middle;
}

.red-node-root {
	fill: red;
	cursor: pointer;
	/* stroke: red; */
}

.red-node-root text{
	font-size: 25px;
	text-shadow: 0 1px 4px black;
	dominant-baseline: hanging;
	text-anchor: start;
}

.green-node-root {
	fill: red;
	cursor: pointer;
	/* stroke: red; */
}

.green-node-root text{
	font-size: 25px;
	text-shadow: 0 1px 4px black;
	dominant-baseline: hanging;
	text-anchor: start;
}


.green-node {
	fill: green;
	cursor: pointer;
	dominant-baseline: hanging;
	text-anchor: middle;
}

.green-node text{
	font-size: 20px;
	text-shadow: 0 1px 4px black;
	dominant-baseline: hanging;
}

svg.custom {
	overflow: scroll;
}

svg.custom .node circle {
	fill: white;
	stroke: #2CC5C6;
	stroke-width: 10px;
}

svg.custom .node text {
	font-size: 15px;
	text-anchor: middle;
	background-color: #444;
	fill: #353942;
	text-shadow: 0 1px 4px black;
	dominant-baseline: text-before-edge;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 2px;
}

.logoutButton {
	float: right;
	margin-right: 10%;
}

.body{
  font-family: 'Lato', sans-serif;
}

.dashboard-container {
  font-family: 'Lato', sans-serif;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	height: calc(100vh);
}

.left-col {
  font-family: 'Lato', sans-serif;
  width: 15%;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background: #353942;
}

.right-col {
  font-family: 'Lato', sans-serif;
	position: absolute;
	overflow-y: scroll;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 15%;
}

.app-title {
  font-family: 'Lato', sans-serif;
	background: #2CC5C6;
	height: 60px;
}

.app-title h1 {
  font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 15px;
}

.dashboard-title {
  font-family: 'Lato', sans-serif;
	background: #2F2F2F;
	height: 60px;
	right: 0px;
	left: 0px;
	width: 1500px;
	position: absolute;
}

.dashboard-title h1 {
  font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
	padding: 15px;
}

.graph-container {
	padding-left: 30px;
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 0;
  overflow-y: auto;
  left: 0;
}

.graph-container h2 {
	margin: 0px;
	padding: 20px 0px 0;
}

.recharts-wrapper {
	margin: 0 auto;
}
.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.progressBar1 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  margin-left: 180px;
}

.progressBar2 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  margin-left: 100px
}

.progressBar3 {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  margin-right: 300px
}

.complete .CircularProgressbar-path{
  stroke: #ff0202;
}


.incomplete .CircularProgressbar-path  {
  stroke: #ff0202;
}

.tasksListContainer {
	margin-left: 3%;
	margin-top: 75px;
	width: 82%;
	height: 900px;
}

.chatContainer {
	font-family: 'Lato', sans-serif;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 15%;
}

.chatImageContainer {
	width: 50px;
	height: 50px;
	border-style: solid;
	border-radius: 25px;
	overflow: hidden;
	border-width: thin;
}

.chatMessageContainer {
	margin-bottom: 20px;
}

.message {
	margin-left: 80px;
	margin-top: -30px;
}

.chatImageContainerImage {
	max-width: 100%;
  max-height: 100%;
}

.chatInput {
	width: 400px;
	margin-right: 30px;
	margin-left: 30px;
}

.messagesContainer {
	height: 650px;
	width: 750px;
	border-style: solid;
	border-color: #BEBEBE;
	border-radius: 10px;
	margin-bottom: 40px;
	overflow-y: scroll;
	padding-top: 40px;
}

.chatListContainer {
	margin-left: 3%;
	margin-top: 75px;
	width: 82%;
	height: 750px;
}

.tasksListItemContainer {
	width: 100%;
	display: inline-block;
	padding-bottom: 5%;
	border-bottom-style: solid;
	border-color: #D3D3D3;
}

.tasksListItemCircle {
	width: 150px;
  height: 150px;
  border-style: solid;
	border-radius: 75px;
	border-width: thin;
	margin: 0 auto;
	margin-top: 7%;
	margin-left: 7%;
	overflow: hidden;
	float: left;
}

.tasksListItemCircleImage {
	max-width: 100%;
  max-height: 100%;
}

.tasksListItemTitle {
	padding-top: 10%;
	padding-left: 27.5%;
	font-size: 30px;
}

.taskTreeContainer {
	margin-left: 15%;
	position: absolute;
}

.tasksTreeButton {
	width: 95%;
	margin: 6% 0% 0% 3%;
}

.userProfilePeek {
	margin-left: 80%;
	margin-top: 58px;
	height: 100vh;
	width: 20%;
	border: 1px solid #000;
}

.userProfilePeekCircle {
	width: 200px;
  height: 200px;
  border-style: solid;
	border-radius: 100px;
	border-width: thin;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}

.userProfilePeekCirclePic {
	max-width: 100%;
  max-height: 100%;
}

.userProfilePeekName {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.userProfilePeekDetails {
	margin-top: 10px;
	margin-bottom: 50px;
}

.userProfilePeekTaskContainer {
	text-align: center;
	margin-top: 30px;
}

.userProfilePeekTask {
	font-size: 30px;
}

.userProfilePeekButtons {
	margin-right: 10px;
}

/* .createTask {
	text-align: center;
	color: #353942;
	border: 3px solid #2CC5C6;
	margin: 10% auto;
} */

.createTask h1 {
	text-align: center;
}

/* LANDING PAGE STYLING  */
.navbar {
	border-radius: 0;
	background: #2f2f2f;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand  {
	color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	cursor: pointer !important;
	color: #2CC5C6;
}

.jumbotron {

	background: url("http://blog.hubstaff.com/wp-content/uploads/2017/07/the-10-best-business-task-manager-apps2.png") no-repeat center;
	min-height:600px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background: #FFF;
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin: 0;
	box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
}

.jumbotron h1 {
	margin: 200px auto;
}

.landing-bottom{
	font-family: 'Lato', sans-serif;
	color: #FFF;
	background: #003e58;
	height: 60vh;
}

.landing-header {
	margin-top: 80px;
	padding: 1px;
	text-align: center;
	text-decoration: underline;
}

p.landing-blurbs {
	text-align: center;
}


.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.taskButton{
	border-radius : 10px 10px 10px 10px;
	font-weight: normal;
  background-color: #2CC5C6;
  border: none;
  margin-right: -10px;
	margin-bottom: 15px;
	color: #f8f5ed;
}
.taskButtonComplete{
	border-radius : 10px 10px 10px 10px;
	font-weight: normal;
  background-color: #84E184;
  border: none;
	margin-right: 5px;
	margin-left: -10px;
	margin-bottom: 15px;
	color: #f8f5ed;
}

.projectFormButtons {
	margin-right: 30px;
}

.chatListContainer {

}
